.translatable-field-tabs {
    .fi-tabs {
        display: none;
    }

    .fi-fo-tabs-tab.fi-active {
        margin-top: 0px !important;
    }

    .translatable-field-locale-select {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        border-radius: 9999px;
        border-width: 0.1px;
        font-size: 0.9rem;
    }
}

[dir=rtl] .translatable-field-tabs .translatable-field-locale-select {
    padding-right: 0.75rem;
    padding-left: 2.5rem;
}